<main class="layout--toucan" {% if css_id %}{{ css_id }}{% endif %}>
  <div class="column column--first">
    {{ content.first }}
  </div>

  <div class="column column--second">
    {{ content.second }}
  </div>
</main>
